<robot name="my_sensors" xmlns:xacro="http://wiki.ros.org/xacro">
    <gazebo reference="imu">
        <gravity>true</gravity>
        <sensor name="imu_node" type="imu" update_rate="100">
            <always_on>true</always_on>
            <visualize>true</visualize>
            <topic>__default_topic__</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <!--发布的话题名称-->
                <topicName>imu</topicName>
                <bodyName>imu</bodyName>
                <!--更新频率-->
                <updateRateHZ>100.0</updateRateHZ>
                <!--高斯噪声-->
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>imu</frameName>
                <initialOrientationAsReference>false</initialOrientationAsReference>
              </plugin>
              <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>
</robot>