<!-- 组合小车底盘与摄像头 -->
<robot name="my_car" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="base.urdf.xacro" />
    <xacro:include filename="my_base.urdf.xacro" />
    <xacro:include filename="my_camera.urdf.xacro" />
    <xacro:include filename="my_laser.urdf.xacro" />
    <xacro:include filename="my_imu.urdf.xacro" />
    <xacro:include filename="my_gps.urdf.xacro" />
    
    <!--differential control-->
    <xacro:include filename="move.urdf.xacro" />

    <!-- 
        camera的 xacro 文件 
    -->
    <!-- 单目-->
    <xacro:include filename="my_sensor_camera.urdf.xacro" /> 
    <!-- 双目-->
    <!-- <xacro:include filename="my_sensor_multi_camera.urdf.xacro" />  -->
    <!-- 深度-->
    <!-- <xacro:include filename="my_sensor_deep_camera.urdf.xacro" />  -->

    <!-- 
        laser的 xacro 文件 
    -->
    <!-- 单线laser-->
    <xacro:include filename="my_sensor_laser.urdf.xacro" /> 
    <!-- 多线laser-->
    <!-- <xacro:include filename="my_sensor_velodyne_laser.urdf.xacro" />  -->

    <!-- 
        imu的 xacro 文件 
    -->
    <xacro:include filename="my_sensor_imu.urdf.xacro" />

    <!-- 
        gps的 xacro 文件 
    -->
    <!-- <xacro:include filename="my_sensor_gps.urdf.xacro" /> -->

</robot>